<style type="text/css">
  .search_box{   background: #F4FAFB;   border: 1px solid #BBDDE5;   color: #9CACAF;    font-size: 14px;    padding: 7px 10px;    margin: 0 0 10px 0;   overflow: hidden; }
  .fenye{ text-align: center; font-size: 12px; color: #335b64}
  .inputSelect{ width: 150px}
  .sch-btn{color: #666;font-size: 12px;text-decoration: none;display: block;padding: 2px 10px 2px 10px;border: 1px solid #278296;border-right: 2px solid #278296;border-bottom: 2px solid #278296;}
</style>
{if $full_page}
{include file="pageheader.htm"}
<!-- 卡搜索开始 -->
<div class="search_box">
<form id="serarch_form">
  <table>
    <tr>
      <td>分类</td>
      <td>
        <select class="inputSelect" name="type_id" id="">
         <option value="0">不限</option>
         {foreach from=$typename item=vo}
         <option  {$vo.selected} value="{$vo.id}">{$vo.cat_name}</option>
         {/foreach}
      </select></td>
      <td>卡号</td>
      <td><input type="text" name="card_sn" value="{$condition.card_sn}"></td>
      <td>状态</td>
      <td><select name="status">
        <option value="-1" {if $state eq -1 }selected='selected'{/if}>不限</option>
        <option value="0" {if $state eq 0 }selected='selected'{/if}>未激活</option>
        <option value="1" {if $state eq 1 }selected='selected'{/if}>已激活</option>
      </select></td>
      <td>时间</td>
      <td>
        <select name="sch_time" id="">
          <option value="0" {if $schtime eq 0 }selected='selected'{/if}>不限</option>
          <option value="1" {if $schtime eq 1 }selected='selected'{/if}>近一个月</option>
          <option value="2" {if $schtime eq 2 }selected='selected'{/if}>近三个月</option>
          <option value="3" {if $schtime eq 3 }selected='selected'{/if}>近半年</option>
        </select>
      </td>
      <td>领卡人</td>
      <td><input type="text" name="owner" value="{$condition.owner}"></td>
      <td>
        <a class="sch-btn" href="javascript:;" id="search" url="ks_card.php?act=list">查询</a></td>
    </tr>
  </table>
</form>
  </div>
  <script type="text/javascript">
  $(function(){
      //搜索功能
      $("#search").click(function(){
        var url = $(this).attr('url');
            var query  = $('#serarch_form').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query ;
            }else{
                url += '?' + query ;
            }
        window.location.href = url;
      });
    })
  </script>
  <!-- 卡搜索结束 -->
<!-- start bonus_type list -->
<form method="post" action="" name="listForm">
<div class="list-div" id="listDiv">
{/if}
  <table cellpadding="3" cellspacing="1">
    <tr>
      <th>选择</th>
      <th>编号</th>
      <th>水果卡类型</th>
      <th>水果卡序号</th>
      <th>水果卡密码</th>
      <th>创建时间</th>
      <th>过期时间</th>
      <th>发卡时间</th>
      <th>领卡人</th>
      <th>状态</th>
      <th>使用时间</th>
      <th>操作</th>
      <th>使用人</th>
    </tr>
    {foreach from=$type_list item=type}
    <tr>
      <td><input type="checkbox" name="ids[]" value="{$type.id}"></td>
      <td align="center" class="first-cell"><span>{$type.id}</span></td>
      <td align="center">{$type.type_name}</td>
      <td align="center">{$type.card_sn}</td>
      <td align="center">{$type.card_pwd}</td>
      <td align="center">{$type.add_time}</td>
      <td align="center">{$type.pass_time}</td>
      <td align="center">{$type.send_time}</td>
      <td align="center">{$type.owner}</td>
      <td align="center">{$type.status_text}</td>
      <td align="center">{if $type.used_time eq '0'}未使用{else}{$type.used_time}{/if}</td>
      <td align="center">
      	{if $type.order_id neq '0'}
        <a href="ks_card.php?act=order&id={$type.order_id}">订单</a> |
        {/if}
        <a href="ks_card.php?act=edit_card_type&cid={$type.id}&tid={$type.type_id}">编辑</a> |
        <a href="ks_card.php?act=delsn&amp;id={$type.id}&tid={$type.type_id}">作废</a></td>
       <td align="center">{$type.used_name}</td> 
    </tr>
      {foreachelse}
    <tr><td class="no-records" colspan="12">{$lang.no_records}</td></tr>
      {/foreach}

  </table>
{if $full_page}
</div>
<h1>
<div class="toolbar">
  <input type="checkbox" onclick="selectAll();">全选
  <input type="checkbox" onclick="selectOther();">反选
  <input type="checkbox" onclick="selectClean();">全不选
  <span class="action-span"><a href="javascript:;" action="{$action}" id="setstaus">批量激活</a></span>
</div>
<div style="clear:both"></div>
</h1>
</form>
{if $fenye }
<div class="search_box fenye"> {$fenye}</div>
{/if}
<script type="text/javascript">
$(function(){
  $("input[name='ids[]']").attr('checked',false);
  $(".toolbar input[type='checkbox']").attr('checked',false);
  $(".toolbar input[type='checkbox']").each(function(index){
    $(this).click(function(){
        $(this).prop('checked',true)
       $(this).siblings().prop('checked',false);
    })
  })

  $('#setstaus').click(function(){
    var _this = $("form[name='listForm']");
    var action = $(this).attr('action');
    _this.css({'backround':'red'});
    $.post( "ks_card.php?act="+action, _this.serialize(), function(data){
       if( data.status ){
          alert(data.desc);
          location.reload();
       }else{
          alert(data.desc)
       }
     }, "json");
  })
})  
</script>
<!-- end bonus_type list -->

<script type="text/javascript" language="JavaScript">
<!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
     // 开始检查订单
     startCheckOrder();
  }
  {/literal}
//-->
</script>
{include file="pagefooter.htm"}
{/if}
