@charset "utf-8";
 a img{border:0}
a{outline-style:none;text-decoration:none;}

/* servicesBox */
.xm-box .serBoxOn{display:none;width:330px;height:462px;background:#f7f7f7;position:absolute;z-index:2;filter:alpha(Opacity=80);-moz-opacity:0.5;opacity: 0.5;}
.xm-box .serBox{cursor:pointer;border:1px solid #fff;display:inline;width:330px;height:450px;float:left;overflow:hidden;position:relative;}
.xm-box .serBox .pic1{width:330px;height:350px;text-align:center;position:absolute;right:0px;}
.xm-box .serBox .pic2{width:330px;height:350px;text-align:center;position:absolute;left:-330px;}
.xm-box .serBox .txt1{width:330px;height:112px;color:#999999;position:absolute;top:320px;left:0px;}
.xm-box .serBox .txt2{width:330px;height:112px;color:#a9cf4f;position:absolute;top:320px;right:-330px;}
 